<span class="topLine">
	<a class="delete-x right" href="javascript(0):void" {{action 'delete' goal }}>x</a>

	{{button-toggle action="toggleSteps" visible=hasSteps isToggled=isCollapsed from="fa-angle-right" to="fa-angle-down" class="left"}}

<h4 {{bind-attr class="goal.isCompleted"}}>{{#link-to 'goals.goal' goal}} {{goal.title}} {{/link-to}}</h4>
</span>

{{yield}}

{{#if showSteps}}
	<ul class="steps" style="display:none">
		{{#each steps itemController="goals.step"}}
			{{partial 'step'}}
		{{/each}}
	</ul>
{{/if}}
