<div class="goal-display">
	{{view 'd3-playground' content=this}}
	<div class="dates">
		<p class="left">Created: {{format-date createdAt}}</p>
		<p class="right">Last Edited: {{format-date lastEdited}}</p>
	</div>
</div>

<h2 {{bind-attr class="isCompleted"}}>{{title}}</h2>
<p class="description">{{description}}</p> 
<ul class="goal steps"> 
	{{#each steps itemController="goals.step"}}
		{{partial 'step'}}
	{{/each}}
</ul>

{{outlet}}
