{{#if hasFilteredItems}}
	{{view 'd3-pie-chart' content=filteredGoals}}
{{else}}
	{{#center-layout}}
		<h3>No goals to Display!</h3>
		<p>Want to make a new one?</p>
		{{#link-to 'goals.new' class="button"}}New Goal{{/link-to}}
	{{/center-layout}}
{{/if}}

<p>Total Goals: {{numGoals}}</p>

{{#if hasItems}}
	<a href="#" {{action 'filterToday'}} {{bind-attr class="editedDate:active"}}>Today</a>
	:
	{{#link-to 'goals' (query-params isCompleted="true")}}Achieved{{/link-to}}
	:
	{{#link-to 'goals' (query-params isCompleted="false")}}In Progress{{/link-to}}
	:
	<a href="#" {{action 'filterReset'}} {{bind-attr class="anyFilters::active"}}>All</a>
	<br />
	<a href="#" {{action 'expandAll'}}>Expand All</a>
	: <a href="#" {{action 'collapseAll'}}>Collapse All</a>

	<ul class="goal-panel">
		{{#each filteredGoals itemController="goals.goal"}}
			{{listed-goal goal=this steps=steps action="delete"}}
		{{/each}}
	</ul>
{{/if}}
 