{{#if hasFilteredItems}}
	{{view 'd3-pie-chart' content=filteredGoals}}
{{else}}
	{{#center-layout}}
		<h3>No goals to Display!</h3>
		<p>Want to make a new one?</p>
		{{#link-to 'goals.new' class="button"}}New Goal{{/link-to}}
	{{/center-layout}}
{{/if}}

<p>Total Goals: {{numGoals}}</p>

{{#if hasItems}}
<a href="#" {{action 'filterToday'}}>Today</a>
:
<a href="#" {{action 'filterReset'}}>all</a>
{{!-- {{#link-to 'goals.list' (query-params dateQuery="02/05/2015")}}Sort{{/link-to}} --}}

	<ol class="goal-panel">
		{{#each filteredGoals}}
			<li>
				<h4>{{#link-to 'goals.goal' this}} {{title}} {{/link-to}} <a class="delete-x" href="javascript(0):void" {{action 'delete' this}}>x</a></h4>
				{{#if steps}}
					<ul class="steps">
						{{#each steps}}
							{{partial 'step'}}
						{{/each}}
					</ul>
				{{/if}}
			</li>
		{{/each}}
	</ol>
{{/if}}

{{outlet}} 
