{{#link-to "goals" activeClass=""}}&lt; Back{{/link-to}}

<p>New Goal</p>

<form action="" method="" {{ action "createNew" on="submit" }}>
	{{input type="text" name="title" autofocus="true" autocomplete="off" required="true" placeholder="Goal Name" valueBinding="goalTitle"}}
	{{view 'custom-textarea' cols="80" name="description" placeholder="Optional Description of your Goal" valueBinding="goalDescription"}}
	
	{{#if hasSteps}}
		<p>Steps:</p?
	{{/if}}

	{{#each stepFields}}
    	{{input class="stepInput" type="text" autocomplete="off" placeholder="One Small Step..." valueBinding="value"}}
    {{/each}}
    <a href="javascript:void(0)" {{action "addStepField"}}>+ Add Step </a>

    <ul class="button-group right">
		<li><input class="button tiny secondary" type="reset" value="Reset" {{action "reset"}} ></li>
		<li>{{input class="button tiny" type="submit" value="Submit" }}</li>
	</ul>
</form>

{{outlet}}
